# ユーザーID
UID=1000
# グループID
GID=1000
# ユーザー名
USERNAME=yama
# グループ名
GROUPNAME=yama
# Node.JSのターゲットバージョン
NODE_VERSION=24

#バックエンドバケットの指定
TF_BACKEND_BUCKET=your-buckend-bucket
#バックエンドバケットはAWS S3互換なので、
#AWSスタイルのアクセスキーを設定する必要があります。
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_access_secret


#OCI設定
##ユーザーID
## ユーザー（右上）＞アカウントID＞アカウントのメールアドレス＞OCID
OCI_USER_ID=ocid1.user.oc1..youruserocid
##テナンシーID
## ユーザー（右上）＞テナンシ＞OCID
OCI_TENANCY_ID=ocid1.tenacy.oc1..yourtenancyocid
##コンパートメントID
## ハンバーガーメニュー（左）＞コンパートメント＞対象のコンパートメント＞OCID
## デフォルトコンパートメント（ルート）であればテナンシーIDと同じっぽいです
OCI_OS_COMPARTMENT_ID=ocid1.tenancy.oc1.yourcompartmentid

## OCIオブジェクトストレージ・ネームスペース（バケットが所属する親フォルダ的な識別子）
## プロファイルメニュー（右上）＞テナンシ＞オブジェクトストレージネームスペース
OCI_OS_NAMESPACE=yournamespace